<div class="surface-card border-round shadow-1 w-full">
    <!-- Image Preview with Dots -->
    <div class="relative">
        <img [src]="selectedImage" alt="Product"
            class="w-full object-cover border-round-top transition-all transition-duration-300" />

        <!-- Discount Badge -->
        <div class="absolute top-0 left-0 m-2 px-2 py-1 bg-green-100 text-green-900 text-xs font-bold border-round">
            {{product.categoryName}}
        </div>

        <!-- Image Dots -->
        <div class="absolute bottom-0 left-0 right-0 p-2 flex justify-center gap-2">
            <ng-container *ngFor="let media of product.media; let i = index">
                <button class="w-2 h-2 border-circle p-0 m-0 cursor-pointer border-none" [ngClass]="{
            'bg-white': selectedImage === media.url,
            'bg-white-alpha-30': selectedImage !== media.url
          }" (click)="selectedImage = media.url" aria-label="image selector"></button>
            </ng-container>
        </div>
    </div>

    <!-- Product Info -->
    <div class="p-3 flex flex-column gap-2">
        <div class="text-xs text-500 flex justify-content-between">
            <div>{{product.categoryName}}</div>
            <span>{{product.purchasePrice | appCurrency}}</span>
        </div>

        <div class="flex align-items-center justify-content-between">
            <div class="text-sm font-bold text-900 ellipsis">{{product.name}}</div>
            <div class="flex align-items-center gap-1 text-yellow-500 font-medium">
                <i class="pi pi-star-fill text-sm"></i>
                <span class="text-sm">4.9</span>
            </div>
        </div>

        <div>
            <span class="text-lg font-bold text-900">Rent {{product.rentalPrice | appCurrency}}</span>
        </div>
    </div>
</div>