<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid p-grid p-dir-col p-mt-3 gap-3">
  <div class="p-field">
    <saanjhi-ui-form-field label="Name" for="name">
      <saanjhi-ui-input inputId="name" formControlName="name" placeholder="Category Name" />
      <saanjhi-ui-form-error [control]="form.get('name')" />
    </saanjhi-ui-form-field>
  </div>

  <div class="p-field">
    <saanjhi-ui-form-field label="Description" for="description">
      <saanjhi-ui-input inputId="description" formControlName="description" placeholder="Description" />
      <saanjhi-ui-form-error [control]="form.get('description')" />
    </saanjhi-ui-form-field>
  </div>

  <div class="p-mt-2">
    <saanjhi-ui-button type="submit" label="{{ isEditMode ? 'Update' : 'Create' }} Category"
      severity="secondary"></saanjhi-ui-button>
  </div>
</form>