/* You can add global styles to this file, and also import other style files */
@use 'shared-ui/src/styles/form-control-styles' as *;
@use './assets/styles/variable' as *;

:root {
  --max-width: #{$max-width};
}

body {
  margin: 0;
  padding: 0;

}

input.ng-invalid.ng-touched {
  border-color: red;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.p-column-title {
  display: none;
}