<saanjhi-ui-confirm-dialog #confirmDialog />
<p-menu #menu [model]="rowMenuItems" [popup]="true"></p-menu>
<div class="p-4">
    <div class="flex justify-content-between">
        <h2 class="text-xl font-bold">Rental List</h2>
        <saanjhi-ui-button type="button" label="Add Rental" icon="pi pi-plus" severity="info" (click)="onCreate()" />
    </div>
    <p-divider></p-divider>
    <form [formGroup]="filtersForm" (ngSubmit)="loadRentals()" class="flex flex-column gap-3">
        <div class="grid">
            <!-- Date Range Filter -->
            <div class="col-12 md:col-6">
                <saanjhi-ui-form-field label="Booking Date" inputId="bookingDateRange">
                    <p-datePicker formControlName="bookingDateRange" inputId="bookingDateRange"
                        [selectionMode]="'range'" dateFormat="dd MM yy" [showIcon]="true" [readonlyInput]="true"
                        placeholder="Select date range..." styleClass="w-full" [showClear]="true" />
                </saanjhi-ui-form-field>
            </div>
            <!-- Date Range Filter -->
            <div class="col-12 md:col-6">
                <saanjhi-ui-form-field label="Start Date - End Date" inputId="dateRange">
                    <p-datePicker formControlName="dateRange" inputId="dateRange" [selectionMode]="'range'"
                        dateFormat="dd MM yy" [showIcon]="true" [readonlyInput]="true"
                        placeholder="Select date range..." styleClass="w-full" [showClear]="true" />
                </saanjhi-ui-form-field>
            </div>

            <!-- Customer Multi-Select -->
            <div class="col-12 md:col-6">
                <saanjhi-ui-form-field label="Customers" inputId="customerIds">
                    <saanjhi-ui-customer-select formControlName="customerIds" placeholder="Select customers..."
                        selectedItemsLabel="{0} customers selected" [pageSize]="25" [multiple]="true">
                    </saanjhi-ui-customer-select>
                </saanjhi-ui-form-field>
            </div>

            <!-- Product Multi-Select -->
            <div class="col-12 md:col-6">
                <saanjhi-ui-form-field label="Products" inputId="productIds">
                    <saanjhi-ui-product-select formControlName="productIds" placeholder="Select products..."
                        selectedItemsLabel="{0} products selected" [pageSize]="25" [multiple]="true">
                    </saanjhi-ui-product-select>
                </saanjhi-ui-form-field>
            </div>

            <!-- Rental Status Select -->
            <div class="col-12 md:col-3">
                <saanjhi-ui-form-field label="Rental Status" inputId="rentalStatus">
                    <saanjhi-ui-autocomplete formControlName="rentalStatus" placeholder="Select rental status..."
                        [suggestions]="rentalStatuses" [multiple]="false" inputId="rentalStatus" styleClass="w-full">
                    </saanjhi-ui-autocomplete>
                </saanjhi-ui-form-field>
            </div>
        </div>
        <!-- Action Buttons -->
        <div class="flex gap-2">
            <saanjhi-ui-button type="submit" label="Search" severity="warn" icon="pi pi-search" />
            <saanjhi-ui-button type="button" label="Reset" icon="pi pi-refresh" severity="secondary"
                (click)="onResetFilters()" />
        </div>
    </form>
    <p-divider></p-divider>
    <div class="flex flex-column gap-2">
        <div>
            <div class="text-sm">Showing {{itemsShowing}}-{{totalRecords()}} results</div>
        </div>
        <!-- Responsive Rental Table -->
        <p-table [value]="rentals()" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords()"
            [loading]="loading()" [rows]="pageSize" [rowsPerPageOptions]="[10, 20, 50]"
            (onLazyLoad)="loadRentals($event)" [sortField]="sortField" [sortOrder]="sortOrder" dataKey="id"
            responsiveLayout="stack" [breakpoint]="'820px'" styleClass="border-1 border-gray-200"
            [expandedRowKeys]="expandedRows">

            <ng-template pTemplate="header">
                <tr>
                    <th>Book No</th>
                    <th>Customer</th>
                    <th class="w-20rem">Product</th>
                    <th>Status</th>
                    <th pSortableColumn="rentalPrice">Rent <p-sortIcon field="rentalPrice" /></th>
                    <th pSortableColumn="securityDeposit">Security <p-sortIcon field="securityDeposit" /></th>
                    <th style="width: 150px;">Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rental let-expanded="expanded">
                <tr>
                    
                    <td>
                        <span class="p-column-title">Book No</span>
                        <div class="flex items-center gap-2">
                            <p-image *ngIf="rental.receiptDocumentUrl" [src]="rental.receiptDocumentUrl" width="32" height="32" [preview]="true"></p-image>
                            <p-button link [routerLink]="['/rentals/manage', rental.id]">
                                <div class="flex flex-column gap-1 text-left">
                                    <span class="font-semibold">{{ rental.bookNumber }}</span>
                                </div>
                            </p-button>
                        </div>
                    </td>
                    <td data-label="Customer">
                        <span class="p-column-title">Customer</span>
                        <div class="flex flex-column">
                            <p-button link [routerLink]="['/customers/edit/', rental.customerId]">
                                <div class="flex flex-column gap-1 text-left">
                                    <span class="font-semibold">{{ rental.customer?.name }}</span>
                                    <small class="text-600">{{ rental.customer?.phoneNumber }}</small>
                                </div>
                            </p-button>
                        </div>
                    </td>
                    <td data-label="Product">
                        <span class="p-column-title">Product</span>
                        <div class="flex items-center gap-2 w-10rem">
                            <p-button link [routerLink]="['/products/details', rental.product.id]">
                                <div class="flex gap-1 text-left align-items-center">
                                    <img [alt]="rental.product.name"
                                        [src]="rental.product.mainImage?.url ?? 'assets/images/default-product.svg '"
                                        width="32" style="vertical-align: middle" />
                                    <span class="w-15rem">{{ rental.product?.name }}</span>
                                </div>
                            </p-button>

                        </div>
                    </td>
                    <td data-label="Status">
                        <span class="p-column-title">Status</span>
                        <span>{{ rental.status | rentalStatusLabel }}</span>
                    </td>
                    <td data-label="Rent">
                        <span class="p-column-title">Rent</span>
                        <span>{{ rental.rentalPrice | appCurrency }}</span>
                    </td>
                    <td data-label="Security">
                        <span class="p-column-title">Security</span>
                        <span>{{ rental.securityDeposit | appCurrency }}</span>
                    </td>
                    <td data-label="Actions">
                        <span class="p-column-title">Actions</span>
                        <div class="flex gap-2">
                            <!-- <saanjhi-ui-button icon="pi pi-pencil" size="small" pTooltip="Edit Rental" [rounded]="true"
                            [outlined]="true" (click)="onEdit(rental)" />
                        <saanjhi-ui-button icon="pi pi-trash" size="small" severity="danger" pTooltip="Delete Rental"
                            [rounded]="true" [outlined]="true" (click)="onDelete(rental)" /> -->

                            <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-text p-button-sm"
                                (click)="onRowActionClicked(menu, rental, $event)">
                            </button>

                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template #expandedrow let-rental>
                <tr>
                    <td data-label="Booking Date" colspan="2">
                        <div class="flex flex-column gap-1">
                            <span>Booking Date - {{ rental.bookingDate | date }}</span>
                        </div>
                    </td>
                    <td data-label="Start Date" colspan="2">
                        <div class="flex flex-column gap-1">
                            <span>Delivery Date - {{ rental.actualStartDate ?? rental.startDate | date }}</span>
                        </div>
                    </td>
                    <td data-label="End Date" colspan="3">
                        <div class="flex flex-column gap-1">
                            <span>Returned Date - {{ rental.actualReturnDate ?? rental.endDate | date }}</span>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-center py-4">
                        <div class="flex flex-column align-items-center gap-3">
                            <i class="pi pi-calendar text-4xl text-400"></i>
                            <span class="text-600">No rentals found</span>
                            <saanjhi-ui-button label="Add First Rental" icon="pi pi-plus" (click)="onCreate()" />
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="7" class="text-center py-4">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <i class="pi pi-spin pi-spinner text-2xl"></i>
                            <span>Loading rentals...</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>