<!-- We will only show forms when current status is Pending, else we will show the data of the current step -->
<form [formGroup]="form" class="p-3 flex flex-column gap-3" (ngSubmit)="onConfirm()"
    *ngIf="rental.status === stepStatus">
    <span class="font-bold">Rental is delivered and awaiting for return.</span>
    <div>
        <saanjhi-ui-form-control label="Return Date"
            helpText="Default is today date but make sure to change if returned on a different date."
            [control]="form.get('actualReturnDate')" styleClass="w-full">
            <p-datepicker formControlName="actualReturnDate" [showIcon]="true" [placeholder]="'Select return date'"
                inputId="actualReturnDate" dateFormat="yy-mm-dd"></p-datepicker>

        </saanjhi-ui-form-control>
        <saanjhi-ui-form-control label="Notes" [control]="form.get('notes')" styleClass="w-full">
            <saanjhi-ui-textarea formControlName="notes" placeholder="Add admin note..."
                styleClass="w-full"></saanjhi-ui-textarea>
        </saanjhi-ui-form-control>
    </div>
    <div class="flex gap-2 mt-2">
        <p-button label="Confirm Return" icon="fa-solid fa-check" severity="success" type="submit" />
    </div>
</form>
<div *ngIf="savedStepData && rental.status !== stepStatus" class="p-3 flex flex-column gap-3">
    <p-badge value="Rental has been returned" severity="success"></p-badge>
    <span>Updated On: {{ savedStepData.changedAt | date: 'shortDate' }}</span>
    <span>Notes: {{ savedStepData.notes }}</span>
</div>