<!-- Reusable filter templates -->
<ng-template #filterInputs let-form="form">
    <div [formGroup]="form" class="flex flex-column gap-2">
        <!-- Search Bar -->
        <div>
            <saanjhi-ui-form-control label="Search" [control]="form.get('search')" class="w-full">
                <input type="text" pInputText placeholder="Search by name, description etc" formControlName="search"
                    class="w-full" />
            </saanjhi-ui-form-control>
        </div>

        <!-- Categories -->
        <div class="max-h-13rem overflow-y-scroll">
            <div class="mb-2">
                <span class="font-bold">Category</span>
            </div>
            <div class="flex flex-column gap-2  text-gray-500">
                <div *ngFor="let category of categories" class="flex align-items-center">
                    <p-checkbox [inputId]="category.id" name="categories" [value]="category.id"
                        formControlName="categoryIds" />
                    <label [for]="category.id" class="ml-2 text-sm"> {{ category.name }} </label>
                </div>
            </div>
        </div>

        <!-- Rentable, Purchasable, Active -->

        <div>
            <div class="flex flex-column col-12">
                <!-- Purchase Price -->
                <div class="flex-1 flex flex-column gap-2">
                    <saanjhi-ui-form-control label="Purchase Price" [control]="form.get('purchasePriceRange')">
                        <p-slider [range]="true" [min]="0" [max]="100000" (onSlideEnd)="onPurchasePriceChange($event)"
                            inputId="purchasePriceRange" formControlName="purchasePriceRange"
                            styleClass="w-full mt-3"></p-slider>
                        <div class="text-sm text-gray-500 mt-1 text-center">
                            ₹{{ filterForm.get('purchasePriceRange')?.value[0] }} - ₹{{
                            filterForm.get('purchasePriceRange')?.value[1]
                            }}
                        </div>
                    </saanjhi-ui-form-control>
                </div>

                <!-- Rental Price -->
                <div class="flex-1 flex flex-column gap-2">
                    <saanjhi-ui-form-control label="Rental Price" [control]="form.get('rentalPriceRange')">
                        <p-slider [range]="true" [min]="0" [max]="50000" (onSlideEnd)="onRentalPriceChange($event)"
                            inputId="rentalPriceRange" formControlName="rentalPriceRange"
                            styleClass="w-full mt-3 mb-2"></p-slider>
                        <div class="text-sm text-gray-500 mt-1 text-center">
                            ₹{{ filterForm.get('rentalPriceRange')?.value[0] }} - ₹{{
                            filterForm.get('rentalPriceRange')?.value[1] }}
                        </div>
                    </saanjhi-ui-form-control>
                </div>
            </div>
        </div>

        <!-- Colors -->
        <div>
            <color-multi-select formControlName="colors"></color-multi-select>
        </div>
        <!-- Sizes -->
        <div>
            <size-multi-select formControlName="sizes"></size-multi-select>
        </div>
    </div>
</ng-template>

<!-- DESKTOP VIEW -->
<div class="hidden md:flex md:flex-column gap-2 border-right border-gray-300" @slideIn>
    <div class="flex justify-content-between align-items-center">
        <h3>Filter Options</h3>
        <div>
            <button pButton severity="warn" (click)="onResetFilters()" icon="fa-solid fa-refresh"></button>
        </div>
    </div>
    <form [formGroup]="filterForm">
        <ng-container *ngTemplateOutlet="filterInputs; context: { form: filterForm }"></ng-container>
    </form>
</div>

<!-- MOBILE VIEW -->
<div class="md:hidden" *ngIf="isVisible">
    <p-sidebar [(visible)]="isVisible" position="left" [modal]="true" [dismissible]="false"
        (onHide)="isVisibleChange.emit(false)">
        <form [formGroup]="filterForm" class="p-3">
            <ng-container *ngTemplateOutlet="filterInputs; context: { form: filterForm }"></ng-container>
        </form>
    </p-sidebar>
</div>