<div class="surface-card border-round shadow-1 w-full">
    <!-- Image Preview with Dots -->
    <div class="image-container">

        <p-galleria [value]="images" [indicatorsPosition]="'bottom'" [showIndicators]="hasMedia" [showThumbnails]="false"
            [showIndicatorsOnItem]="true" containerClass="p-galleria-container" [autoPlay]="hasMedia" [circular]="hasMedia" [transitionInterval]="3000" >
            <ng-template pTemplate="item" let-item>
                <p-image [src]="item.url" alt="{{item.alt}}" [preview]="hasMedia" />
            </ng-template>
        </p-galleria>

        <!-- Discount Badge -->
        <div class="absolute top-0 left-0 m-2 px-2 py-1 text-xs font-bold bg-white text-black-alpha-90">
            {{product.categoryName}}
        </div>

        <!-- Edit Button -->
        <div class="absolute top-0 right-0 m-2 px-2 py-1">
            <p-button icon="fa-solid fa-pencil" severity="secondary" [rounded]="true" [outlined]="true"
                class="p-button-rounded p-button-text" [routerLink]="['/products/edit', product.id]"
                styleClass="bg-white" aria-label="Edit Product"></p-button>
        </div>
        <!-- Details Button -->
        <div class="absolute top-1 right-0 m-2 px-2 py-1" style="top:50px;">
            <p-button icon="fa-solid fa-eye" severity="secondary" [rounded]="true" [outlined]="true"
                class="p-button-rounded p-button-text" [routerLink]="['/products/details', product.id]"
                styleClass="bg-white" aria-label="View Product Details"></p-button>
        </div>
    </div>

    <!-- Product Info -->
    <div class="p-3 flex flex-column gap-2">
        <div class="text-xs text-500 flex justify-content-between">
            <div>{{product.categoryName}}</div>
            <span>{{product.purchasePrice | appCurrency}}</span>
        </div>

        <div class="flex align-items-center justify-content-between">
            <div class="text-sm font-bold text-900 ellipsis">{{product.name}}</div>
        </div>

        <div>
            <span class="text-lg font-bold text-900">Rent {{product.rentalPrice | appCurrency}}</span>
        </div>
    </div>
</div>